<app-loading *ngIf="loading"></app-loading>
<div class="table-responsive" *ngIf="!loading">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Lastname</th>
                <th scope="col">Email</th>
                <th scope="col">Register</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <th scope="row"> {{user.id}}</th>
                <td>{{user.name}}</td>
                <td>{{user.lastname}}</td>
                <td>{{user.email}}</td>
                <td>{{user.registerDate}}</td>
            </tr>
        </tbody>
    </table>
</div>